h1{
    color:blue;
}
h2{
    color:blueviolet;
}
h3{
    color:brown;
}
h4{
    color:rgb(102, 68, 24);
}
p{
    color:blueviolet;
}
h5{
    color:green;
}
ol{
    color:brown;
}
ul{
    color:midnightblue;
}
footer{
    color:blue;
}